{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<h1>Create new Task</h1>
<div class="row text-center">
    <div class="col">
        <div class="col-md-4 card m-4">
            <div class="card-body">
                {{ include('task/_form.html.twig') }}
                <a href="{{ path('app_task_index') }}">back to list</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}